* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: sans-serif;
  margin: 0 auto;
  background-color: rgba(221, 238, 115, 1);
}
.golovna {
  color: white;
  background-color: rgba(148, 0, 0, 1);
  margin: 10px;
  padding: 5px;
  width: 40%;
}
.header {
  background-color: #c79f61;
  display: flex;
}
.logo {
  display: flex;
  justify-content: flex-start;
  width: 30%;
}
.logo img {
  width: 30%;
}
.header-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.header-text span {
  color: white;
  margin: 5px;
  padding: 10px;
  border-radius: 15px;
  font-size: 20px;
}
.header-text .text-1 {
  background-color: rgba(148, 0, 0, 1);
  width: 50%;
  margin-right: 20px;
}
.header-text .text-2 {
  background-color: #7e4242;
  margin-right: 20px;
}
.footer {
    display: flex;
    background-color: rgba(161, 0, 0, 1);
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
}
.instagram {
    display: flex;
    justify-content: flex-end;
    width: 30%;
}
.instagram img {
    width: 30%;
}
.footer-text span {
    color: white;
    margin: 5px;
    padding: 10px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.32);
    font-size: 20px;
}
.instagram-text  a {
    text-decoration: none;
    position: fixed; 
    bottom: 0;
    margin-bottom: 10px;
    color: white;
    border-radius: 5px;
    padding: 6px;
    background-color: rgba(0, 0, 0, 0.5);
    
}
.Glavnimain {
display: flex;
justify-content: center;

}

.syshoi-korm {
background-color: rgba(68, 44, 44, 0.49);
margin-left: 650px;
font-size: 25px;
padding: 2px;
border-radius: 10px;


}
.nazad {
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.47);
    padding: 2px;
    margin-left: 8px;
    margin-top: 15px;
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
}
.catalog a {
    text-decoration: none;
    color: white;
    border-bottom: 1px dotted black;
    font-size: 20px;
    background-color: rgba(38, 6, 6, 0.56);
    padding: 2px;
    border-radius: 5px;
}

.catalog {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
    width: 700px;
    background-color: rgba(184, 197, 108, 1);
    padding-top: 10px;
    border-radius: 10px;

}
.product{
    text-align: center;
    padding: 10px;
    border: 5px double orange;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: bisque;
}
.oplata {
    background-color: #7e4242;
    color: white;
}
.oplata-body {
    background-color: whitesmoke;
    width: 10%;
    font-family: sans-serif;
}
.vse {
    font-family: sans-serif;
    background-color: whitesmoke;
}
.oplatit-knopka {
    text-decoration: none;
    color: white;
    background-color: rgba(164, 151, 83, 1);
    border-radius: 5px;
}